<!DOCTYPE html>
<html lang="en">
<head>

  <title>Silicon Token</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Silicon Token" />
  <meta name="keywords" content="Silicon Token is a simple, fast, and secure way to exchange crypto and tokenize assets" />
  <meta name="author" content="Silicon Token" />
  <link rel="shortcut icon" type="image/png" href="static/images/favicon.png?v=0"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" async>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70444240-6" async></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-70444240-6');
  </script>
</head>
<body data-spy="scroll" data-target="#ftco-navbar" data-offset="200">

<link rel="stylesheet" href="<%= static_path +"/bootstrap/css/bootstrap.min.css" %>"/>
<link rel="stylesheet" href="<%= static_path +"/bootstrap/css/open-iconic-bootstrap.min.css" %>"/>
<link rel="stylesheet" href="<%= static_path +"/bootstrap/css/animate.css" %>"/>
<link rel="stylesheet" href="<%= static_path +"/bootstrap/css/owl.theme.default.min.css" %>"/>
<link rel="stylesheet" href="<%= static_path +"/bootstrap/css/icomoon.css" %>"/>
<link rel="stylesheet" href="<%= static_path +"/bootstrap/css/style.css" %>"/>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="#section-home"><img id="logo-white" src="static/images/logo.png" style="width: 150px;"/><img id="logo-blue" src="static/images/logo_blue.png" style="width: 150px;"/> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="#section-home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#section-contact" class="nav-link">Contact Us</a></li>
        <li class="nav-item"><a href="https://app.silicontoken.com/signin" class="nav-link">LOGIN</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->
<section class="ftco-cover" style="background-image: url(images/red_bg.jpg);" id="section-home">
  <div class="row align-items-center justify-content-center ftco-vh-100">
    <div class="col-md-10">
      <h1 class="ftco-heading ftco-animate">Silicon Token</h1>
    </div>
  </div>
  </div>
</section>
<div class="right-floating">
  <div class="btn-group-vertical float-right floating "  >
    <button type="button" class="btn btn-primary"><a class="" href="https://twitter.com/SiliconToken" target="_blank">
        <span class="icon-twitter"></span>
      </a></button>
    <button type="button" class="btn btn-primary"><a class="" href="https://www.facebook.com/silicontoken" target="_blank">
        <span class="icon-facebook"></span>
      </a></button>
    <button type="button" class="btn btn-primary"><a class="" href="http://bit.ly/JoinSiliconTelegram" target="_blank">
        <span class="icon-telegram"></span>
      </a></button>
    <button type="button" class="btn btn-primary"><a class="" href="https://github.com/orgs/SiliconToken" target="_blank">
        <span class="icon-github"></span>
      </a></button>
    <button type="button" class="btn btn-primary"><a class="" href="https://discord.gg/KRpzZk" target="_blank">
        <span class="icon-discord"></span>
      </a></button>
  </div>
</div>

<section class="ftco-section bg-light" id="section-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="" method="post">
          <div class="form-group">
            <label id="nameLabel" for="name" class="sr-only">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label id="emailLabel" for="email" class="sr-only">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label id="messageLabel" for="message" class="sr-only">Message</label>
            <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Write your message"></textarea>
          </div>
          <div class="form-group">
            <input id="emailButton" class="btn btn-primary" value="Send Message" >
          </div>
        </form>
      </div>
      <div class="col-md-12" style="padding-top: 20px;">
        <h5>You can also write us an email to <a href="mailto:support@silicontoken.com" target="_blank">support@silicontoken.com</a></h5>
      </div>
    </div>
  </div>
</section>

<footer class="ftco-footer ftco-bg-dark">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <p>&copy; Silicon Token 2018. All Rights Reserved.</p>
      </div>
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <ul class="ftco-footer-social list-unstyled float-md-right float-lft">
            <li><a href="https://twitter.com/SiliconToken" target="_blank"><span class="icon-twitter"></span></a></li>
            <li><a href="https://www.facebook.com/silicontoken" target="_blank"><span class="icon-facebook"></span></a></li>
            <li><a href="http://bit.ly/JoinSiliconTelegram" target="_blank"><span class="icon-telegram"></span></a></li>
            <li><a href="https://github.com/orgs/SiliconToken" target="_blank"><span class="icon-github"></span></a></li>
            <li><a href="https://discord.gg/KRpzZk" target="_blank"><span class="icon-discord"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#4586ff"/></svg></div>
<script src="<%=  static_path + "/jquery/jquery.min.js" %>"></script>
<script src="<%=  static_path + "/bootstrap/js/popper.min.js" %>"></script>
<script src="<%=  static_path + "/bootstrap/js/bootstrap.min.js" %>"></script>
<script src="<%=  static_path + "/jquery/jquery.easing.1.3.js" %>"></script>
<script src="<%=  static_path + "/jquery/jquery.waypoints.min.js" %>"></script>
<script src="<%=  static_path + "/bootstrap/js/owl.carousel.min.js" %>"></script>
<script src="<%=  static_path + "/jquery/jquery.animateNumber.min.js" %>"></script>
<script src="<%=  static_path + "/main/main.js" %>"></script>
</body>
</html>